<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://mickael-menu.github.io/releases/ShadowVim/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>CjshV4V7MdRwZto4oHYRHiLo3xBccztsSsD3ewjBjDA=</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Required to start Neovim from the Terminal</string>
</dict>
</plist>
